<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.buddybuilding" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.Home"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".Activities.InputActivities.Input1Goal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.InputActivities.Input2Activity"
            android:label="Nível de Atividade" >
        </activity>
        <activity
            android:name=".Activities.InputActivities.Input3Info"
            android:label="@string/title_activity_input3_info"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activities.InputActivities.Input4Info"
            android:label="@string/title_activity_input4_info"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activities.InputActivities.Input5Goals"
            android:label="@string/title_activity_input5_goals"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activities.Diary.Diary"
            android:label="@string/title_activity_diary"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activities.FoodActivity"
            android:label="@string/title_activity_food"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activities.FoodNutritionFacts"
            android:label="@string/title_activity_food_nutrition_facts"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".Activities.Diary.SelectFood" >
        </activity>
        <activity
            android:name=".Activities.Diary.AddFood"
            android:label="@string/title_activity_add_food"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activities.Nutrition"
            android:label="@string/title_activity_nutrition"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activities.Goals"
            android:label="@string/title_activity_goals"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
