<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.buddybuilding" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Input1Goal">
        </activity>
        <activity
            android:name=".Input2Activity"
            android:label="Nível de Atividade" >
        </activity>
        <activity
            android:name=".Input3Info"
            android:label="@string/title_activity_input3_info"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Input4Info"
            android:label="@string/title_activity_input4_info"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Input5Goals"
            android:label="@string/title_activity_input5_goals"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Diary"
            android:label="@string/title_activity_diary"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".FoodActivity"
            android:label="@string/title_activity_food"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
